@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:focus-visible {
  outline: none !important;
}
div>a>img {
  width: 100%;
}
/* start home page */
.image-container>img {
  transition: all .3s;
}
.image-container:hover img {
  transform: scale(1.2);
}
a.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.search-result {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 900;
}
.product-name {
  font-size: 18px;
  font-weight: 700;
}
/* end home page */

/* start product-detail */
.detail-info {
  text-transform: capitalize;
}
.info-title {
  font-size: 20px;
  color: blue;
}
.price {
  font-size: 18px;
  font-weight: 600;
  color: chocolate;
}
.relationship-type {
  font-size: 16px;
}
/* end product-detail */